<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/materialize")
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            @Html.ActionLink("Mantenimiento de Visitas", "Index", "Personas", new { area = "" }, new { @class = "brand-logo" })
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Inicio", "Index", "Personas")</li>
                <li>@Html.ActionLink("Visitas", "Index", "Visitas")</li>
            </ul>
        </div>
    </nav>
    <div class="row">

        <div class="col s12 m4 l3">

            <div class="collection">
                @Html.ActionLink("Inicio", "Index", "Personas", null, new { @class = "collection-item" })
                @Html.ActionLink("Visitas", "Index", "Visitas", null, new { @class = "collection-item" })
            </div>

        </div>

        <div class="col s12 m8 l9">
            @RenderBody()
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/materializejs")
    @RenderSection("scripts", required: false)
</body>
</html>
